body {
  min-height: 1280px;
  color: #3b3b3b;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
}

h2 {
  margin-bottom: 200px;
}

a,
a:visited,
a:hover {
  color: teal;
  text-decoration: none;
  /* border-bottom: 2px solid currentColor; */
}

#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* background-color: #f3f3f3; */
  margin-top: 30px;
}

#scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#progress {
  visibility: hidden;
  opacity: 0;
  height: 70px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  transition: visibility 400ms, opacity 400ms;
}

article {
  position: relative;
  /* padding: 0 1rem; */

  max-width: 400px;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  margin: 30px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* background-color: #8a8a8a; */
  z-index: 0;
}

figure p {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: black;
  z-index: 1000;
  font-style: italic;
}

.step {
  /* margin: 0 auto 2rem auto; */
  /* background-color: #3b3b3b; */
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step:last-child {
  margin-bottom: 0;
}

/* .step.is-active {
  background-color: goldenrod;
  color: #3b3b3b;
} */

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.subSticky {
  background-color: whitesmoke;
  color: black;
  padding: 20px;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.5;
}

#image {
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
}

#caption {
  position: absolute;
  bottom: -10px;
  font-size: 1rem;
}

.prior_Phila {
  background-image: url('../images/Jane/prior_Phila.jpg');
  background-position: 50% 25%;
}

.mat1 {
  background-image: url('../images/Jane/mat1.jpg');
  background-position: 50% 10%;
}

.stickyText {
  font-size: 2rem;
}

.smart-text {
  font-size: 1.05rem;
}

#outro {
  margin-top: 50px;
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

#intro {
  margin-bottom: 320px;
}

#outro {
  height: 640px;
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}
