.refusal {
  background-image: url('../images/Michael/refusals.png');
  background-position: 50% 30%;
}

.homeless {
  background-image: url('https://live.staticflickr.com/4099/4945033828_3a8b1777d9_b.jpg');
  background-position: 50% 50%;
}

.homeless-pie-charts {
  background-image: url('../images/Michael/homeless-pie-charts.png');
  background-position: 50% 50%;
}

.narcan {
  background-image: url('../images/Michael/Narcan.png');
  background-position: 50% 50%;
}

.syringe {
  background-image: url('../images/Michael/street_syringe.jpg');
  background-position: 50% 50%;
}

.insurance {
  background-image: url('../images/Michael/Insurance.jpg');
  background-position: 50% 10%;
}

.insurance-text {
  position: absolute;
  bottom: -15%;
}

.homeless-icon {
  background-image: url('../images/Michael/homeless-icon.png');
  background-position: 50% 50%;
}

.treatments {
  background-image: url('../images/Michael/treatments2.jpg');
  background-position: 50% 33%;
}

.treatment-text {
  position: absolute;
  bottom: -15%;
}

.support-group {
  background-image: url('../images/Michael/support_group.jpg');
  background-position: 50% 50%;
}
